@model Student
@{
    ViewData["Title"] = "Details";
}

<h1>Student Details</h1>

<table class="table-active offset-1">
    <tr>
        <td>@Model.FirstName</td>
    </tr>
    <tr>
        <td>@Model.SecondName</td>
    </tr>
    <tr>
        <td>@Model.SchoolYear</td>
    </tr>
    <tr>
        <td>@Model.PhoneNumber</td>
    </tr>
    <tr>
        @if (Model.StudentsCourses != null)
        {
            foreach (var item in Model.StudentsCourses)
            {
                <td>@item.Course</td>
            }
        }
        else
        {
            <td>This student doesn't have any courses... Consider adding some</td>
        }
    </tr>
    <tr>
        <td>
            @*<a asp-action="UpdateCourse"></a>*@

            <a asp-action="Edit" asp-controller="Student" asp-route-id="@Model.Id">
                <input type="hidden" value="@Model.Id" />
                <input type="submit" class="btn btn-warning" value="Edit" />
            </a>
            <a asp-action="Index" asp-controller="Home">
                <input type="submit" class="btn btn-primary" value="Return" />
            </a>
        </td>
    </tr>
</table>