@model Student
@{
    ViewData["Title"] = "Edit";
}

<h1>Student Edit</h1>

<form asp-action="Edit" asp-controller="Student" method="post" class="form-text offset-1">
    <input type="text" asp-for="FirstName" value="@Model.FirstName" />
    <label>Firstname</label>
    <br />
    <br />
    <input type="text" asp-for="SecondName" value="@Model.SecondName" />
    <label>Secondname</label>
    <br />
    <br />
    <input type="text" asp-for="SchoolYear" value="@Model.SchoolYear" />
    <label>Schoolyear</label>
    <br />
    <br />
    <input type="text" asp-for="PhoneNumber" value="@Model.PhoneNumber" />
    <label>Phonenumber</label>
    <br />
    <br />
    @if (Model.StudentsCourses != null)
    {
        foreach (var item in Model.StudentsCourses)
        {
            <input type="text" value="@item.Course" disabled />
        }
    }
    else
    {
        <p>@Model.FirstName @Model.SecondName doesn't have any classes.</p>
    }
    <br />

    <input type="submit" class="btn btn-warning" value="Submit" />
    <a class="btn btn-success" asp-action="Index" asp-controller="Home">Go back</a>
    <a class="btn btn-danger" asp-action="Remove" asp-controller="Student">Remove</a>
</form>