@model Student

<form class="col-12" asp-action="AddStudents" asp-controller="Course" asp-route-studentId="@Model.Id" method="post">
    <table class="col-3 offset-4 border table-active marginBottom5">
        <tr class="row border main-tr">

            <td class="col-2">@Model.FirstName</td>
            <td class="col-3">@Model.SecondName</td>
            <td class="col-2">@Model.SchoolYear</td>
            <td class="col-3">@Model.PhoneNumber</td>

            @if (Model.StudentsCourses != null)
            {
                <td><h4>Already part of these courses:</h4></td>
                <td><br /></td>
                foreach (var item in Model.StudentsCourses)
                {
                    <td>- @item.Course.Title</td>
                }
            }
        </tr>
        <tr class="row border main-tr">
            <td>
                <button class="btn btn-success">Add Student</button>
            </td>
        </tr>
    </table>
</form>
