@model StudentsCourses


<tr>
    <td>@Model.Course.Title</td>
    <td>@Model.Course.Subject</td>
    <td>@Model.Course.Teacher</td>
    <td>@Model.Student.FirstName</td>
    <td>@Model.Student.SecondName</td>
    <td>@Model.Course.Grades</td>
</tr>