@model Assignment
@{
    ViewData["Title"] = "CreateAssignment";
}

<br />
<h1 class="offset-2">Create Assignment</h1>
<hr />
<br />

<tr>

    @if (Model.Course.Assignments.Count != 0)
    {
        <td><h4 class="offset-2">Creating assignment for course: @Model.Course.Title | @Model.Course.Subject. This course already has these assignments</h4></td>

    }
    else
    {
        <td><h4 class="offset-2">Creating assignment for course: @Model.Course.Title | @Model.Course.Subject</h4></td>
    }

    <td>
        @foreach (var item in Model.Course.Assignments)
        {
            <p>@item.Title | @item.Subject | @item.Description</p>
        }
    </td>
    <td class="col-12"><hr /></td>
</tr>

<form class="offset-2" asp-action="CreateAssignment" asp-controller="Course" asp-route-id="@Model.Course.Id" asp-route-assignmentId="@Model.Id">

    <label asp-for="Title"></label>
    <br />
    <input asp-for="Title" />
    <br /><br />
    <label asp-for="Subject"></label>
    <br />
    <input asp-for="Subject" />
    <br /><br />
    <label asp-for="Description"></label>
    <br />
    <input asp-for="Description" />
    <br /><br />
    <label asp-for="DueToDate"></label>
    <br />
    <input type="datetime-local" asp-for="DueToDate" />
    <br /><br />
    <input class="btn btn-success" type="submit" value="Create" />

</form>
<hr />
<a class="btn btn-primary offset-2" asp-action="Index" asp-controller="Course">Return</a>