@model Course
@{
    ViewData["Title"] = "Details";
}

<br />
<h1 class="offset-5">@Model.Title</h1>
<hr />

<tr>
    <td>
        <a style="float:left" class="btn btn-primary" asp-action="Index" asp-controller="Course">Return</a>
    </td>
</tr>

<table class="table-active offset-4 col-4 border">
    <tr>
        <td>
            <a style="float:right" class="btn btn-warning" asp-action="Edit" asp-controller="Course" asp-route-id="@Model.Id">
                Edit
            </a>
        </td>
    </tr>
    <tr>
        <td>@Model.Title</td>
    </tr>
    <tr>
        <td>@Model.Subject</td>
    </tr>
    <tr>
        @if (Model.Teacher != null)
        {
            <td><p>The teacher for this course is: @Model.Teacher.FirstName</p></td>
        }
        else
        {
            <td><p>There is no teacher for this course! Consider adding one.</p></td>
        }
    </tr>
    @if (Model.StudentsCourses != null || Model.StudentsCourses.Count != 0)
    {
        <tr>
            <td><h5>Students in selected course</h5></td>
        </tr>
        <tr class="row border" style="margin: 0;">
            <th class="col-3">Firstname</th>
            <th class="col-3">Secondname</th>
            <th class="col-3">Class</th>
            <th class="col-3">Phonenumber</th>
        </tr>
        <tr class="row border" style="margin: 0;">
            @foreach (var item in Model.StudentsCourses)
            {
                <td class="col-3">@item.Student.FirstName</td>
                <td class="col-3">@item.Student.SecondName</td>
                <td class="col-3">@item.Student.SchoolYear</td>
                <td class="col-3">@item.Student.PhoneNumber</td>
            }
        </tr>
    }
    else
    {
        <tr>
            <td><p>This course doesn't have any students... Consider adding some.</p></td>
        </tr>
    }
    <tr>
        <td><br /></td>
    </tr>
    @if (Model.Assignments.Count != 0 || Model.Assignments != null)
    {
        <tr class="row border" style="margin: 0;">
            <th class="col-2">Title</th>
            <th class="col-3">Subject</th>
            <th class="col-4">Description</th>
            <th class="col-3">Due to</th>
        </tr>
        foreach (var item in Model.Assignments)
        {
            <tr class="row border" style="margin: 0;">

                <td class="col-2">@item.Title</td>
                <td class="col-3">@item.Subject</td>
                <td class="col-4">@item.Description</td>
                <td class="col-3">@item.DueToDate.ToShortDateString()</td>
            </tr>
        }
    }
    else
    {
        <tr>
            <td><p>There's currently no assignments to this course. Consider adding some</p></td>
        </tr>
    }
    <tr>
        <td>
            <a class="btn btn-info" asp-action="AddStudents" asp-controller="Course" asp-route-id="@Model.Id">
                Add students
            </a>
            <a class="btn btn-info" asp-action="CreateAssignment" asp-controller="Course" asp-route-id="@Model.Id">
                Create Assignment
            </a>
            @if (Model.Teacher == null)
            {
                <a class="btn btn-info" asp-action="AddTeacher" asp-controller="Teacher" asp-route-id="@Model.Id">
                    Add Teacher
                </a>
            }

        </td>
    </tr>
    <tr>
        <td>
            @if (Model.Teacher != null)
            {
                <a class="btn btn-danger" asp-action="RemoveTeacher" asp-controller="Course" asp-route-id="@Model.Id">
                    Remove Teacher
                </a>
            }
            <a class="btn btn-danger" asp-action="RemoveStudent" asp-controller="Course" asp-route-id="@Model.Id">
                Remove a Student
            </a>
            <a class="btn btn-danger" asp-action="Remove" asp-controller="Course" asp-route-id="@Model.Id">
                Remove Course
            </a>
        </td>
    </tr>
</table>
