@model Course
@{
    ViewData["Title"] = "RemoveStudent";
}

<h1>RemoveStudent</h1>

<table>
    @foreach (var item in Model.StudentsCourses)
    {
        <tr>
            <td>@item.Student.FirstName</td>
            <td>@item.Student.SecondName</td>
            <td>@item.Student.SchoolYear</td>
            <td>@item.Student.PhoneNumber</td>

            <td>
                <a class="btn btn-danger" asp-action="RemoveStudentComplete" asp-controller="Course" asp-route-studentId="@item.Student.Id">
                    Pick me pick me
                </a>
            </td>
        </tr>
    }
</table>