@model StudentsCourses


<tr>
            <td>@Model.Student.Id</td>
            <td>@Model.Student.FirstName</td>
            <td>@Model.Student.SecondName</td>
            <td>@Model.Student.SchoolYear</td>
            <td>@Model.Student.PhoneNumber</td>
    @if (Model != null)
    {
        foreach (var item in Model.Student.StudentsCourses)
        {
            <td>
                <input type="checkbox" />
            </td>
            <td>@item.Course</td>
        }
    }
</tr>