@model Course

<tr class="row">
    <td class="col-1 border">@Model.Id</td>
    <td class="col-2 border">@Model.Title</td>
    <td class="col-2 border">@Model.Subject</td>

    <td class=" border col-6">
        <a class="btn btn-success" asp-action="CreateAssignment" asp-controller="Course" asp-route-id="@Model.Id">
            Create new assignment
        </a>
        <a class="btn btn-success" asp-action="AddStudents" asp-controller="Course" asp-route-id="@Model.Id">
            Add students
        </a>
        <a class="btn btn-warning" asp-action="Edit" asp-controller="Course" asp-route-id="@Model.Id">
            Edit
        </a>
        <a class="btn btn-info" asp-action="Details" asp-controller="Course" asp-route-id="@Model.Id">
            Details
        </a>
        <a class="btn btn-danger" asp-action="Remove" asp-controller="Course" , asp-route-id="@Model.Id">
            Delete
        </a>
    </td>
</tr>