@model Teacher
@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
<br />
<h1 class="offset-5">@Model.FirstName</h1>
<hr />
<br />

<table class="table-active offset-3 col-4 row border">
    <tr class="row">
        <td class="col-3 border">@Model.FirstName</td>
        <td class="col-3 border">@Model.SecondName</td>
        <td class="col-4 border">@Model.Specification</td>
        <td class="col-2 border">@Model.PhoneNumber</td>
    </tr>
    @if (Model.Courses != null)
    {
        foreach (var item in Model.Courses)
        {

            <tr class="row border">
                <td>
                    <table>
                        <tr>


                            <td>@item.Title</td>
                            <td>@item.Subject</td>

                            @if (item.StudentsCourses != null)
                            {
                                foreach (var value in item.StudentsCourses)
                                {
                                <tr class="row ">
                                    <td class="col-3">@value.Student.FirstName</td>
                                    <td class="col-3">@value.Student.SecondName</td>
                                    <td class="col-3">@value.Student.SchoolYear</td>
                                    <td class="col-3">@value.Student.PhoneNumber</td>
                                </tr>
                            }
                        }
                            <tr class="row border">
                                <td><p>Assignments tied to this course;</p></td>
                                @if (item.Assignments.Count == 0)
                                {
                                    <td>No assignments available. Consider adding some.</td>
                                }
                            </tr>
                            @if (item.Assignments.Count != 0)
                            {
                                foreach (var value in item.Assignments)
                                {
                                    <tr class="row border">
                                        <td>@value.Title</td>
                                        <td>@value.Subject</td>
                                        <td>@value.Description</td>
                                        <td>@value.DueToDate</td>
                                    </tr>
                                }
                            }
                        </table>
                    </td>
                </tr>

            }
        }
    <tr class="offset-4">
        <td>
            <a class="btn btn-warning" asp-action="Edit" asp-controller="Teacher" asp-route-id="@Model.Id">Edit</a>
            <a class="btn btn-primary" asp-action="Index" asp-controller="Teacher" asp-route-id="@Model.Id">Return</a>
            <a class="btn btn-danger" asp-action="Remove" asp-controller="Teacher" asp-route-id="@Model.Id">Remove</a>
        </td>
    </tr>
</table>
