@model Teacher


<br />
<h1 class="offset-5">@Model.FirstName @Model.SecondName</h1>
<hr />
<br />

<table class="table-active AlignCenter marginBottom60">
    <tr class="row border-bottom border-dark main-tr">
        <th class="col-2">Firstname</th>
        <th class="col-3">Secondname</th>
        <th class="col-4">Specification</th>
        <th class="col-3">Phonenumber</th>
    </tr>
    <tr class="row main-tr">
        <td class="col-2">@Model.FirstName</td>
        <td class="col-3">@Model.SecondName</td>
        <td class="col-4">@Model.Specification</td>
        <td class="col-3">@Model.PhoneNumber</td>
        <td class="col-12"><hr /></td>
    </tr>

    @if (Model.Courses.Count != 0)
    {
        @foreach (var item in Model.Courses)
        {
            <tr class="row border-bottom border-dark main-tr">
                <th class="col-3 offset-2">Title</th>
                <th class="col-4 offset-2">Subject</th>
            </tr>
            <tr class="row  main-tr">
                <td class="col-3 offset-2">@item.Title</td>
                <td class="col-4 offset-2">@item.Subject</td>
            </tr>
            if (item.Assignments.Count != 0)
            {
            <tr class="border-bottom border-dark main-tr">

                <td><p class="offset-3"><strong>Assignments in this course</strong></p></td>
            </tr>
                <tr class="row main-tr">
                    <th class="col-2">Title</th>
                    <th class="col-3">Subject</th>
                    <th class="col-4">Description</th>
                    <th class="col-3">Due to Time</th>
                    <td class="col-12"><hr /></td>
                </tr>
                foreach (var value in item.Assignments)
                {
                    <tr class="row main-tr">
                        <td class="col-2">@value.Title</td>
                        <td class="col-3">@value.Subject</td>
                        <td class="col-4">@value.Description</td>
                        <td class="col-3">@value.DueToDate</td>
                        <td class="col-12"><hr /></td>
                    </tr>
                }
            }
            else
            {
                <tr>
                    <td><p class="offset-3"><strong>This course has no assignments.</strong></p></td>
                    <td class="row"><hr /></td>
                </tr>
            }
        }
    }
    else
    {
        <tr>
            <td>This Teacher has no courses assigned to him/her.</td>
        </tr>
    }
</table>
